<button (click)="createTransaction()">Crear</button>
<table>
    <thead>
        <tr>
            <td>
                Monto
            </td>
            <td>
                Motivo
            </td>
            <td>
                Acciones
            </td>
        </tr>
    </thead>
        <tbody>
            @for (transaction of transactions; track $index) {
            <tr>
                <td>  {{ transaction.amount }}</td>
                <td>  {{ transaction.description }}</td>
                <td><Button (click)="deleteTransaction($index)">Eliminar</Button></td>
                <td><Button (click)="updateTransaction(transaction,$index)">Actualizar</Button></td>
            </tr>
            }@empty {
                <tr>No hay datos</tr>
            }
        </tbody>
</table>
@if (formTransaction) {
    <form [formGroup]="formTransaction" (submit)="saveTransaction()">
        <label for="amount">Monto</label>
        <input formControlName="amount" type="number" name="aamount" placeholder="Monto">
        <label for="description">Motivo</label>
        <input formControlName="description" type="text" name="description" placeholder="Motivo">
        <button type="submit">Guardar</button>
        <button (click)="cancelTransaction()">Cancelar</button>
    </form>
}