<main>
  <button
    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-xl shadow-lg transition duration-300 ease-in-out mt-6 mx-12"
    style="font-family: 'Cursive'"
    (click)="createTransaction()"
  >
    Crear
  </button>

  <table
    class="table-auto w-3/4 mx-auto mt-8 bg-white shadow-md rounded-lg overflow-hidden"
    style="font-family: 'Cursive'"
  >
    <thead class="bg-gray-200 text-gray-700 text-center">
      <tr>
        <th class="px-4 py-2">Fecha</th>
        <th class="px-4 py-2">Monto</th>
        <th class="px-4 py-2">Motivo</th>
        <th class="px-4 py-2">Ingreso/Egreso</th>
        <th class="px-4 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody class="text-gray-700">
      @for (transaction of transactions; track $index) {
      <tr [class.bg-gray-100]="($index + 1) % 2 === 0" class="border-t">
        <td class="px-4 py-2 text-center border-r">{{ transaction.date }}</td>
        <td class="px-4 py-2 text-center border-r">{{ transaction.amount }}</td>
        <td class="px-4 py-2 text-center border-r">{{ transaction.reason }}</td>
        <td class="px-4 py-2 text-center border-r">
          {{ transaction.type_id }}
        </td>
        <td class="px-4 py-2 flex justify-center space-x-4">
          <button
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded-full"
            style="font-family: 'Cursive'"
            (click)="deleteTransaction(transaction.id)"
          >
            Eliminar
          </button>
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-3 rounded-full"
            style="font-family: 'Cursive'"
            (click)="updateTransaction(transaction, $index)"
          >
            Editar
          </button>
        </td>
      </tr>
      }@empty {
      <tr class="text-center">
        <td colspan="5" class="px-4 py-2 text-gray-500">No hay datos</td>
      </tr>
      }
    </tbody>
  </table>

  @if (formTransaction) {
  <form
    class="w-3/4 mx-auto mt-10 bg-white p-6 shadow-md rounded-lg"
    [formGroup]="formTransaction"
    (submit)="saveTransaction()"
    style="font-family: 'Cursive'"
  >
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="amount"
        >Monto:</label
      >
      <input
        class="w-full border-2 border-gray-300 p-3 rounded-lg focus:border-blue-500 outline-none"
        formControlName="amount"
        type="number"
        name="amount"
        placeholder="Monto"
        style="font-family: 'Cursive'"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="date"
        >Fecha:</label
      >
      <input
        class="w-full border-2 border-gray-300 p-3 rounded-lg focus:border-blue-500 outline-none"
        formControlName="date"
        type="date"
        name="date"
        style="font-family: 'Cursive'"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="reason"
        >Motivo:</label
      >
      <input
        class="w-full border-2 border-gray-300 p-3 rounded-lg focus:border-blue-500 outline-none"
        formControlName="reason"
        type="text"
        name="reason"
        placeholder="Motivo"
        style="font-family: 'Cursive'"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="type_id"
        >Ingreso/Egreso:</label
      >
      <select
        formControlName="type_id"
        id="type_id"
        class="w-full border-2 border-gray-300 p-3 rounded-lg focus:border-blue-500 outline-none"
        name="type_id"
        style="font-family: 'Cursive'"
      >
        <option [value]="null">Seleccione un Tipo</option>
        @for (item of types; track $index) {
        <option [value]="item.id">{{ item.type }}</option>
        }
      </select>
    </div>
    <div class="flex justify-end space-x-4">
      <button
        class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out"
        type="submit"
        style="font-family: 'Cursive'"
      >
        Guardar
      </button>
      <button
        class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out"
        (click)="cancelTransaction()"
        style="font-family: 'Cursive'"
      >
        Cancelar
      </button>
    </div>
  </form>
  }
</main>
